---
import AnimatedName from './AnimatedName.astro';
import GithubIcon from './GithubIcon.astro';
import RSSFeedIcon from './RSSFeedIcon.astro';
---

<header class="header">
  <h3>
    <a href="/">
      <AnimatedName />'s blog
    </a>
  </h3>
  <GithubIcon />
  <RSSFeedIcon />
  <nav>
    <p>
      <a href="/Dragos-Strainu-Resume.pdf">Resume</a>
      <a href="/projects">Projects</a>
    </p>
  </nav>
</header>
