---
---

<footer class="post-footer">
  Liked this post? Follow me{' '}
  <a target="_blank" href="https://x.com/strdr4605" rel="noreferrer">
    @strdr4605
  </a>{' '}
  to get more updates.
</footer>
