.blogPosts {
  list-style-type: none;
  padding: unset;
}

.blogPosts li {
  display: flex;
}

.blogPosts li span {
  flex: 0 0 8rem;
}

li.starred::before {
  content: "★";
  margin-left: -1.5rem;
  position: absolute;
}

@media only screen and (max-width: 666px) {
  .blogPosts {
    list-style-type: disc;
    padding-left: 1rem;
  }

  .blogPosts li {
    display: list-item;
  }

  .blogPosts li span {
    display: none;
  }

  .starred {
    list-style-type: "★ ";
  }

  li.starred::before {
    content: unset;
  }
}
