:root {
  --link-color: #0366d6;
  --second-color: #faf181;
  --prism-inline-code: #f5f2f0;
  --code-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.6em;
}

a {
  color: var(--link-color);
}

img {
  width: 100%;
}

blockquote {
  border-left: 1px solid #999;
  padding-left: 1rem;
  font-style: italic;
}

@media only screen and (min-width: 900px) {
  .remark-highlight {
    width: 150%;
    margin-left: -25%;
  }
}

/* prism for inline code */

:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: var(--prism-inline-code);
  font-family: var(--code-font);
}
