:root {
  --link-color: #0366d6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

img {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .remark-highlight {
    width: 150%;
    margin-left: -25%;
  }
}
